.asidewoman{position:fixed; top:5%; right:20px; width:30px; height:auto; display:grid;gap:20px;
   border:3px solid red;background-color:none;z-index:50;}
   aside a{z-index:50;}
   aside img{z-index:50;}
   .asidewoman img{width:20px;height:20px; display:grid;margin:auto;padding-top:5px; padding-bottom: 5px;} 
   .afteryoutube{border-top:3px dashed black;border-bottom:3px dashed black;height:23px ;width:36px;}  
 /* body{background-color:rgb(104, 109, 23);background-image: url(image\beutman.webp);}*/
 body{background-image: url('image/volkano.webp');
  background-size: cover; /* Makes sure the image covers the entire background */
   background-position:center 1px; /* Centers the image */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*a.button{text-decoration: none;
  border: 3px solid yellow;
 padding:5px; 
  font-weight: bold;
 color:yellow;
   font-size:13px; font-style:italic;background-color:red;padding:5px;
  box-shadow:inset 1px 1px 1px black,
  inset -1px -1px -1px black; height:37px;}

*/.word{color:white;}
.textMor{display:none;}
.baton{text-decoration: none;
    border: 3px solid yellow;
     
     
    color:yellow;
      font-size:10px; font-style:italic;background-color:red;padding:5px;
     box-shadow:inset 1px 1px 1px black,
     inset -1px -1px -1px black; }

  .button{ width:23%;;text-decoration: none;
    border: 3px solid white;
   padding:5px;
   border-top-left-radius: 25%;
   border-bottom-right-radius: 25%;
   background-color:black; 
    font-weight: bold;
   color:rgb(193, 182, 230);
     font-size:13px; font-style:italic;padding:5px;
    box-shadow:inset 1px 1px 1px white,
    inset -1px -1px -1px white; height:auto;margin:10px;}

   .buttontwo{border:3px solid yellow; color:rgb(105, 17, 17); color:yellow;
    padding:5px; font-size:12px; font-style:italic;background-color:red;}
    .buttt{border:3px solid red;}
.bodi{margin:auto;display:grid;}
.bod {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  overflow: hidden;
  flex-wrap: wrap;
  
}
.nona{width:280px;margin:10px;}
@media (max-width: 900px) {
  .nona {
    display: none;
  }
}
.pona{width:280px;margin:10px;}
@media (max-width: 900px) {
  .pona {
    width:100%;
  }
}
.toph{display:flex;justify-content: space-between;}
.textMore{display:none;color:white;}
h1{color:white;font-weight: bold; font-style: italic;font-family: 'Franklin Gothic Medium', sans-serif;
text-shadow: 3px 3px 5px black,
-3px -3px 5px black;text-align: center;}
h2{color:white;font-weight: bold; font-style: italic;font-family: 'Franklin Gothic Medium', sans-serif;
  text-shadow: 3px 3px 5px black,
  -3px -3px 5px black;width:30%;float:right;text-align:center;}
  .lasth{color:white;font-weight: bold; font-style: italic;font-family: 'Franklin Gothic Medium', sans-serif;
    text-shadow: 3px 3px 5px black,
    -3px -3px 5px black;width:30%;float:right;text-align:center;}
  h2.hh2{color:white;font-weight: bold; font-style: italic;font-family: 'Franklin Gothic Medium', sans-serif;
    text-shadow: 3px 3px 5px black,
    -3px -3px 5px black;width:30%;float:left;text-align:center;}
    h3{color:white;font-weight: bold; font-style: italic;font-family: 'Franklin Gothic Medium', sans-serif;
      text-shadow: 3px 3px 5px black,
      -3px -3px 5px black;float:left;text-align:center;}

   .menu{display:flex; justify-content:space-between;}
   .wreckmenus{display:flex;flex-wrap: wrap; width:100%;justify-content: space-between;}
   .wreckmenus a{border:3px solid rgb(107, 96, 33);border-radius: 20px;font-size: 13px;background-color:
     rgb(4, 4, 88);color:white;height:auto;padding:5px; text-align: center;margin-top:10px;}
   .stadymenu{float:right;text-align:center;display:grid;justify-content:end;}
   .stadymenu a{border:3px solid white;border-radius: 20px;font-size: 13px;
    background-color:
     rgb(4, 4, 88);color:white;height:40px;align-content:center;margin-top:10px;padding:5px;}
     
     .wreckmenu{float:right;text-align:center;display:grid;justify-content:end;}
   .wreckmenu a{border:3px solid white;border-radius: 20px;font-size: 13px;
    background-color:
     rgb(4, 4, 88);color:white;height:40px;align-content:center;margin-top:10px;padding:5px;}
     
    
    @media screen and (min-width: 450px) {
      .wreckmenu a {margin-top:10px;
        font-size: 20px;
        width: 200px;
      }
    }
    @media screen and (min-width: 450px) {
      .stadymenu a {margin-top:10px;
        font-size: 20px;
        width: 200px;
      }
    }
    
   
.main-footer{margin-top: 20px;;}
.choosep{text-align: center;width:70%;color:red;font-size:30px;
   font-family: 'Franklin Gothic Medium', sans-serif; font-style: italic;font-weight: bold;align-items:center;margin:auto;
   border:5px solid black;
  text-shadow:2px 2px 4px white,
-2px -2px 4px white;}
.shopaimg{width:80px;height:auto;margin:auto;}


body.face{background-image: url('./images/diving1.webp');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Makes sure the image covers the entire background */
  background-position:center 1px; /* Centers the image */
 background-repeat: no-repeat;
 background-attachment: fixed;}
 .ptop{color:white;font-size: 20px;}
 main{display:grid;}
 .bod {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  overflow: hidden;
  flex-wrap: wrap;
  
}
.foottop{color:white;}
.dno {align-items: center;
  text-decoration:underline;
  color:whitesmoke;
  margin:auto;
 text-shadow: 3px 3px 3px black,
 -3px -3px 3px black;
}
.dno:hover {
  text-decoration: underline;
}
 .main-footer::after{content:url('');position:absolute;bottom:30px;width:20%;}
.container {
    margin-bottom: 30px;
    display: flex;
    border: 5px solid white;
    border-radius: 5px 55px 5px 55px;
    overflow: hidden;
    gap: 20px;
}

.bob{background-color:rgb(35, 35, 148);}
.as{color:white;}
.footer {
    margin: 20px;
    gap: 5px;
}
.footer address {
    display: grid;
    gap: 5px;
}
.footer img {
    width: 20px;
    height: 20px;
}
.footer p {
    margin: 0;
}

a.youtube{color:red;font-size:23px; font-style:italic; text-decoration:dashed;background-color:white;
  text-shadow: 1px 1px 2px gold;gap:5px;}
  address p{color:white;}
  address a{ gap:20px; color:white; margin:5px;}
  #contacts{gap:10px;display:grid;}
  @keyframes opa{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras{animation-name:opa;animation-duration:6s;}
@keyframes jopa{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras{animation-name:jopa;animation-duration:6s; ;}
@keyframes opa1{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras1{animation-name:opa1;animation-duration:6s;animation-delay:2s ;}
@keyframes jopa1{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras1{animation-name:jopa1;animation-duration:6s;animation-delay: 2s;}
@keyframes opa2{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras2{animation-name:opa2;animation-duration:6s;animation-delay: 5s;}
@keyframes jopa2{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras2{animation-name:jopa2;animation-duration:6s;animation-delay: 5s;}
@keyframes opa3{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras3{animation-name:opa3;animation-duration:6s;animation-delay: 7s;}
@keyframes jopa3{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras3{animation-name:jopa3;animation-duration:6s;animation-delay: 7s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras4{animation-name:opa4;animation-duration:6s;animation-delay: 8s;}
@keyframes jopa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras4{animation-name:jopa4;animation-duration:6s; animation-delay: 8s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras5{animation-name:opa4;animation-duration:6s;animation-delay: 9s;}
@keyframes jopa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras5{animation-name:jopa4;animation-duration:6s; animation-delay: 9s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras6{animation-name:opa4;animation-duration:6s;animation-delay: 10s;}
@keyframes jopa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras6{animation-name:jopa4;animation-duration:6s; animation-delay: 10s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras7{animation-name:opa4;animation-duration:6s;animation-delay: 11s;}
@keyframes jopa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras7{animation-name:jopa4;animation-duration:6s; animation-delay: 11s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras8{animation-name:opa4;animation-duration:6s;animation-delay: 12s;}
@keyframes jopa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras8{animation-name:jopa4;animation-duration:6s; animation-delay: 12s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras9{animation-name:opa4;animation-duration:6s;animation-delay: 13s;}
@keyframes jopa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras9{animation-name:jopa4;animation-duration:6s; animation-delay: 13s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1;}}
.sras10{animation-name:opa4;animation-duration:6s;animation-delay: 14s;}
@keyframes jopa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.sras11{animation-name:opa4;animation-duration:6s;animation-delay: 15s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.sras12{animation-name:opa4;animation-duration:6s;animation-delay: 16s;}
@keyframes opa4{10%{opacity:0.1;}50%{opacity:0.6;}100%{opacity:1; ;}}
.lras10{animation-name:jopa4;animation-duration:6s; animation-delay: 14s;}
.bubbleone, .bubbletwo, .bubblefree,.bubblechetire,.bubblepiat,.bubbleshest{
  position: absolute;
  animation-fill-mode: forwards; /* Ensures the element disappears after animation ends */
  opacity: 1; /* Start fully visible */
}

.bubbleone {z-index: 100;
  width: 50px;
  top:1;
  animation-name: bubbleras;
  animation-duration: 10s;
}

.bubbletwo {z-index: 100;
  width: 30px;
  top: 1;
  animation-name: bubbledwa;
  animation-duration: 12s;
}

.bubblefree {
  width: 70px;
  top: 1px;
  animation-name: bubbletri;
  animation-duration: 14s;
}

@keyframes bubbleras {
  0% { bottom: 0%; left: 40%; opacity: 1; }
  70% { bottom: 50%; left: 45%; opacity: 0.5; }
  100% { bottom: 100%; left: 47%; opacity: 0; }
}

@keyframes bubbledwa {
  0% { bottom: 0%; left: 60%; opacity: 1; }
  70% { bottom: 50%; left: 69%; opacity: 0.5; }
  100% { bottom: 100%; left: 71%; opacity: 0; }
}

@keyframes bubbletri {
  0% { bottom: 0%; left: 70%; opacity: 1; }
  
  100% { bottom: 100%; left: 81%; opacity: 0; }
}
@keyframes bubblechetire {
  0% { bottom: 0%; left: 30%; opacity: 1; }
 
  100% { bottom: 100%; left: 41%; opacity: 0; }
}
@keyframes bubblepiat {
  0% { bottom: 0%; left: 18%; opacity: 1; }
 
  100% { bottom: 100%; left: 28%; opacity: 0; }
}
@keyframes bubbleshest {
  0% { bottom: 0%; left: 20%; opacity: 1; }
  
  100% { bottom: 100%; left: 23%; opacity: 0; }
}

.bubblechetire {z-index: 100;
  width: 75px;
  top:1;
  animation-name: bubblechetire;
  animation-duration: 6s;
}
.bubblepiat {z-index: 100;
  width: 45px;
  top:1;
  animation-name: bubblepiat;
  animation-duration: 7s;
}
.bubbleshest {z-index: 100;
  width: 120px;
  top:1;
  animation-name:bubbleshest;
  animation-duration: 8s;
}
.button2{margin-bottom: 10px;}
img .imgmaruko{width:220px;margin:auto;height:250px;margin:auto;}
.name{color:black; font-size:20px;text-align:center;margin:auto;}
.hello li{text-decoration: none;list-style-type: none; font-size: 20px;text-align:center;}
.wreckdiv1{display:grid;}
.wracksection1{display:grid;}
.wracksection1 h1{color:black;}
.wracksection1 p{color:black;}
.wracksection1{color:black;}
.wracksection h2{color:black;}
.wreckimg{width:280px;height:350px;margin:auto;}
.wrackdiv2 img{width:220px;height:250px;margin:auto;}
.wrackdiv2{display:flex; overflow: hidden;flex-wrap: wrap;gap:10px;margin:auto;}
.wreckp{color:black;font-size: 20px;font-style: italic; font-family:'Franklin Gothic Medium', sans-serif;text-align: center;;}
.wreckdiv1 p{color:black;font-size: 20px;font-style: italic; font-family:'Franklin Gothic Medium', sans-serif;}
 .ul hello{text-align: center;}
 .header2{background-color:rgb(35, 35, 148);border-radius: 5px 55px 5px 55px;} 
 .wreckp2{color:white;text-align:center;font-size:20px;font-style: italic; font-family:'Franklin Gothic Medium', sans-serif;}                  
 aside{position:fixed; top:10%;right:30px; display:grid;gap:15px;}
 .aside{position:fixed; top:10%;right:30px; display:grid;gap:15px;}
 .asidea{width:80px;height:auto; background-color:black; color:white; border-radius:5px 20px 5px 20px;text-align:center;border:3px solid rgb(138, 122, 29); text-decoration:none;padding:5px;}
 a.asidea{width:80px;height:auto; background-color:black; color:white; border-radius:5px 20px 5px 20px;text-align:center;border:3px solid rgb(138, 122, 29); text-decoration:none;padding:5px;}
.asidea2{width:80px;height:auto; background-color:black; color:white; border-radius:5px 20px 5px 20px;text-align:center; }
 @keyframes fly {
  0% { bottom: 70%; right: 30%; opacity: 1; }
  
  100% { bottom: 72%; right: 81%; opacity: 0; }
}
.whatsap{margin-top:20px;width:100%;border:3px solid rgb(39, 39, 169); text-align:center; margin:auto; padding:5px;}
.atsap{margin-top:20px;width:100%; text-align:center; margin:auto; padding:5px;}
.warfly{width:10%;height:6%; animation-name: fly; animation-duration: 10s;position:fixed;}
.warwrecks{width:35% ;height:20%;animation-name: warwrecks;animation-duration: 10s;position:fixed;}
@keyframes warwrecks {
  0% { bottom: 40%; right: 40%; opacity: 1; }
  70% { bottom: 40%; right: 45%; opacity: 1; }
  100% { bottom: 30%; right: 40%; opacity: 0; }
}
@keyframes warwreckduo {
  0% { bottom: 40%; right: 45%; opacity: 1; }
  70% { bottom: 40%; right: 40%; opacity: 1; }
  100% { bottom: 30%; right: 40%; opacity: 0; }
}

.warwreckduo{width:35% ;height:20%;animation-name: warwreckduo;animation-duration: 10s;position:fixed;}
@keyframes warbomb {
  0% { bottom: 70%; right: 45%; opacity: 1; }
  
  100% { bottom: 50%; right: 45%; opacity: 0; }
}
.warbomb{width:5% ;height:3%;animation-name: warbomb;animation-duration: 2s;position:fixed;animation-delay: 2s;}



@keyframes warbomb2{
  0% { bottom: 70%; right: 45%; opacity: 1; }
  
  100% { bottom: 50%; right: 45%; opacity: 0; }
}
.warbomb2{width:5% ;z-index:10;height:3%;animation-name: warbomb;animation-duration: 2s;position:fixed;animation-delay: 2s;}
@keyframes warfair {
  0% { bottom: 50%; right: 45%; opacity: 1;width:10%;}
  
  100% { bottom: 51%; right: 45%; opacity: 0;width:20%;}
}
.warfair{width:10% ;height:3%;animation-name: warfair;animation-duration: 2s;position:fixed;animation-delay: 3s;}
.scubasection{display:grid;gap:15px; border:3px solid black;}
.scubadiver{float:left;}
.scubaflex{display:flex;flex-wrap: wrap;overflow: hidden;}
.scubaflex img{float:left;width:220px;height:auto;}
.mapimg{position:relative; display:flex; margin:auto; overflow: hidden; flex-wrap: wrap;justify-content:space-between;}
.mapimg img{margin:auto;}
 h2{margin:auto;}
.courssection{width:220px;}
.nav{display:grid;}
.navimg{width:10%;height:5%; }
.nava{color:white;font-size:20px; color:white;margin-top:-50px;margin-left:10%;}
.courseup{text-align:left;transform: rotate(45deg) translateY(37px) translateX(84px);font-size: 16px;color:white; 
  text-shadow:1px 1px 1px black,
-1px -1px 1px black;display:flex;flex-wrap:wrap;max-width:230px;}
.courseimg{width:100px;height:80px;border:5px solid blue;
  border-radius:35px 15px 35px 15px;padding:5px;margin-left:-150px;}
  .dito{font-size:15px;}

main .padicourse{gap:10px;}
.gallery-grid{display:flex;flex-wrap: wrap; overflow: hidden;}
.gallery-grid img{width:220px;height:auto; margin:auto;}
.scubasection {margin-top:10px;}
li{list-style-type:none;padding:5px;margin:10px;}
.mini{position:relative;padding:10px;}
.bot{padding:10px;}
#carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px; /* Adjust width as needed */
  margin: 0 auto;
}

#image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  filter:contrast(1);
  height:auto;}
  .pich{display:flex;flex-wrap:wrap;overflow:hidden;}
  .dich{display:grid;text-align:center;text-decoration: underline;}
  .kich{margin:auto;}
.kruch{display:grid; gap:10px; margin:auto;} 
.keep{margin-top:10px;}
.wreckp{padding:10px;}
.img-cont{margin-top:20px;}
.animation{animation-name: left; animation-duration: 7s;width:15%;height:auto; position:fixed;}
@keyframes left{ 0% { bottom: 70%; right: 45%; opacity: 1; }
0% { top: 10%; left: 15%; opacity: 1; }
20% { top: 20%; left: 35%; opacity: 1; }
30% { top: 30%; left: 45%; opacity: 1; }
40% { top: 40%; left: 65%; opacity: 1; }
50% { top: 50%; left: 75%; opacity: 1; }
60% { top: 60%; left: 65%; opacity: 0.8; }
70% { top: 70%; left: 55%; opacity: 0.7; }
80% { top: 80%; left: 45%; opacity: 0.6; }
90% { top: 90%; left: 35%; opacity: 0.5; }
100% { bottom: 90%; right: 15%; opacity: 0; }
}
.warfly{z-index:50;}
.warbomb{z-index:50;background-color: aliceblue;
  box-shadow:1px 1px 1px 1px white,
  -1px -1px 1px 1px white; 
}
.warwrecks{z-index:100;
   }
.warfair{z-index:100;background-color: aliceblue;}
.wreckp{color:white;}
.underscuba li{width:100%;text-align: center;margin:10px;}
.underscuba{font-size: 15px; color:black;padding:10px; font-style:italic; font-family: 'Segoe UI', sans-serif;}
.nav{height:30px;}
.order{display:none;}
.nero{background-image: url('images/patty101.png');
  background-size: cover; /* Makes sure the image covers the entire background */
   background-position:center 1px; /* Centers the image */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:black;background:none ;font-size:15px;padding:10px;
                  font-style:italic; font-family: 'Segoe UI', sans-serif;
}
.pas{color:black;background:none ;font-size:15px;padding:10px;
  font-style:italic; font-family: 'Segoe UI', sans-serif;}
.mas li{text-decoration: underline;}
img[alt]{font-size:1px;}

.map-marker {white-space:nowrap;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  flex-wrap: nowrap;
  
}
.map-container {width:280px;
  margin: 3px 0;
  position: relative;
 height: 390px;
 margin:auto;
 
}
.map-marker p{font-size:10px; color:red;}
.map-marker{white-space:nowrap;}
.tablerent{display:flex; justify-content: space-around; flex-wrap: wrap; margin:auto;}
.twogo{border:3px solid black; background-color: black; border-radius:15px 15px 15px 15px; color:white;}
.divbeforefooter{display:flex; flex-wrap:wrap; justify-content: space-between;gap:5px;width:100%;margin-top:15px;}
.beforefooter{padding:5px;color:white; border-radius: 15px 15px 15px 15px;width:30%; text-align:center;overflow:hidden;}
.mas li{background-color: rgb(69, 69, 11);border-radius:3px 5px 4px 1px; color:white;width:50%;}

.gass{text-align:center;}
.detailmap{display:grid;justify-content: space-around;width:100%;}
.detailmap div{display:flex; border:3px solid black; width:100%;margin-left:10px;margin-right:10px;margin-bottom:10px;margin-top: 10px;}
.detailmap img{width:120px;height:120px;float:left;justify-self: flex-start;}
.detailmap p{text-align:center;padding:10px; font-size:25px; font-style: italic;font-family: 'Franklin Gothic Medium', sans-serif;}
.sub{border:3px solid rgb(111, 96, 15); margin:10px; 
  }
.submet{margin:10px;border:3px solid rgb(112, 100, 29);}
.subit{border:3px solid rgb(34, 34, 175);  text-align: center; margin:10px;color:white;background-color: rgb(43, 43, 176);}
.diveday{text-align:center;  border:3px solid black;}
.philipines{text-indent:20px;color:blue; font-size: 20px;font-weight:bold;}
.philipines li{font-size: 20px;color:blue;font-weight: bold;font-family: 'Times New Roman', serif;}
.wreckali a{color:white; font-size:18px; }
.buttonform{width:30%;text-align:center; margin:auto;}
.sending{border:3px solid black; width:100% ; height:30px;margin:auto;}
.sendingmail{text-align: center;margin:auto;}
.mapfinger{color:red;font-size: 25px;animation-name: mapfinger;animation-duration: 10s;}
@keyframes mapfinger{
  10%{color:yellow; }
  20%{color:brown; }
  50%{color:red; font-size: 30px;}
  80%{color:blue;}
  100%{color:blueviolet;}
}
